USE [master]
GO
/****** Object:  Database [user50]    Script Date: 21.04.2026 14:21:55 ******/
CREATE DATABASE [user50]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'user50', FILENAME = N'/var/opt/mssql/data/user50.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'user50_log', FILENAME = N'/var/opt/mssql/data/user50_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [user50].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [user50]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 21.04.2026 14:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[MaterialTypeID] [int] NOT NULL,
	[QuantityInPackage] [int] NOT NULL,
	[UnitID] [int] NOT NULL,
	[Stock] [int] NOT NULL,
	[MinStock] [int] NOT NULL,
	[Cost] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK__Material__C50613176EDF1335] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialType]    Script Date: 21.04.2026 14:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Material__1621BBFF2E12E2BB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 21.04.2026 14:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Article] [nvarchar](20) NOT NULL,
	[MinCost] [decimal](12, 2) NOT NULL,
	[ImagePath] [nvarchar](200) NULL,
	[ProductTypeID] [int] NOT NULL,
	[WorkersRequired] [int] NOT NULL,
	[WorkshopID] [int] NOT NULL,
 CONSTRAINT [PK__Product__B40CC6ED7D3CC1A8] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductMaterial]    Script Date: 21.04.2026 14:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductMaterial](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[MaterialID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK__ProductM__5A855176F250F98E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 21.04.2026 14:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__ProductT__A1312F4E16B7A549] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 21.04.2026 14:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Role__8AFACE3AC54EE095] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 21.04.2026 14:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__Unit__44F5EC95C1D9CB0D] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 21.04.2026 14:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK__User__1788CCAC0DBEDA23] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workshop]    Script Date: 21.04.2026 14:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workshop](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Number] [int] NOT NULL,
 CONSTRAINT [PK__Workshop__7A008C2A809BD9FC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Material] ON 

INSERT [dbo].[Material] ([ID], [Name], [MaterialTypeID], [QuantityInPackage], [UnitID], [Stock], [MinStock], [Cost]) VALUES (1, N'Шипы для льда 3x2', 2, 3, 1, 470, 26, CAST(6511.00 AS Decimal(12, 2)))
INSERT [dbo].[Material] ([ID], [Name], [MaterialTypeID], [QuantityInPackage], [UnitID], [Stock], [MinStock], [Cost]) VALUES (2, N'Резина для льда 0x2', 1, 2, 2, 816, 21, CAST(48785.00 AS Decimal(12, 2)))
INSERT [dbo].[Material] ([ID], [Name], [MaterialTypeID], [QuantityInPackage], [UnitID], [Stock], [MinStock], [Cost]) VALUES (3, N'Шипы для льда 2x2', 2, 1, 1, 479, 22, CAST(13077.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Material] OFF
GO
SET IDENTITY_INSERT [dbo].[MaterialType] ON 

INSERT [dbo].[MaterialType] ([ID], [Name]) VALUES (1, N'Резина')
INSERT [dbo].[MaterialType] ([ID], [Name]) VALUES (2, N'Шипы')
SET IDENTITY_INSERT [dbo].[MaterialType] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ID], [Name], [Article], [MinCost], [ImagePath], [ProductTypeID], [WorkersRequired], [WorkshopID]) VALUES (1, N'Колесо R1 Кованый', N'241659', CAST(10001.00 AS Decimal(12, 2)), N'\products\tire_15.jpg', 3, 4, 10)
INSERT [dbo].[Product] ([ID], [Name], [Article], [MinCost], [ImagePath], [ProductTypeID], [WorkersRequired], [WorkshopID]) VALUES (2, N'Запаска R1 Кованый', N'327657', CAST(8667.00 AS Decimal(12, 2)), N'\products\tire_64.jpg', 2, 2, 8)
INSERT [dbo].[Product] ([ID], [Name], [Article], [MinCost], [ImagePath], [ProductTypeID], [WorkersRequired], [WorkshopID]) VALUES (3, N'Шина R21 Лето', N'266521', CAST(10561.00 AS Decimal(12, 2)), N'\products\tire_6.jpg', 4, 4, 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductMaterial] ON 

INSERT [dbo].[ProductMaterial] ([ID], [ProductID], [MaterialID], [Quantity]) VALUES (1, 1, 18, 16)
INSERT [dbo].[ProductMaterial] ([ID], [ProductID], [MaterialID], [Quantity]) VALUES (2, 83, 26, 16)
INSERT [dbo].[ProductMaterial] ([ID], [ProductID], [MaterialID], [Quantity]) VALUES (3, 27, 18, 13)
SET IDENTITY_INSERT [dbo].[ProductMaterial] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductType] ON 

INSERT [dbo].[ProductType] ([ID], [Name]) VALUES (1, N'Диск')
INSERT [dbo].[ProductType] ([ID], [Name]) VALUES (2, N'Запаска')
INSERT [dbo].[ProductType] ([ID], [Name]) VALUES (3, N'Колесо')
SET IDENTITY_INSERT [dbo].[ProductType] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [Name]) VALUES (1, N'Агент')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (2, N'Администратор')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (3, N'Менеджер')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Unit] ON 

INSERT [dbo].[Unit] ([ID], [Name]) VALUES (1, N'г')
INSERT [dbo].[Unit] ([ID], [Name]) VALUES (2, N'кг')
INSERT [dbo].[Unit] ([ID], [Name]) VALUES (3, N'м')
SET IDENTITY_INSERT [dbo].[Unit] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [FullName], [Login], [Password], [RoleID]) VALUES (1, N'Иванов Иван Иванович', N'i.ivanov', N'Passw0rd!1', 2)
INSERT [dbo].[User] ([ID], [FullName], [Login], [Password], [RoleID]) VALUES (2, N'Петрова Мария Сергеевна', N'm.petrova', N'SecureP@ss2', 3)
INSERT [dbo].[User] ([ID], [FullName], [Login], [Password], [RoleID]) VALUES (3, N'Сидоров Алексей Петрович', N'a.sidorov', N'UserPass3', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[Workshop] ON 

INSERT [dbo].[Workshop] ([ID], [Number]) VALUES (1, 1)
INSERT [dbo].[Workshop] ([ID], [Number]) VALUES (2, 2)
INSERT [dbo].[Workshop] ([ID], [Number]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[Workshop] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Material__737584F60F6E4F22]    Script Date: 21.04.2026 14:21:55 ******/
ALTER TABLE [dbo].[Material] ADD  CONSTRAINT [UQ__Material__737584F60F6E4F22] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Material__737584F6B26C50C0]    Script Date: 21.04.2026 14:21:55 ******/
ALTER TABLE [dbo].[MaterialType] ADD  CONSTRAINT [UQ__Material__737584F6B26C50C0] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Product__4943444A676157AE]    Script Date: 21.04.2026 14:21:55 ******/
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [UQ__Product__4943444A676157AE] UNIQUE NONCLUSTERED 
(
	[Article] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Product__737584F6A4B6D9B1]    Script Date: 21.04.2026 14:21:55 ******/
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [UQ__Product__737584F6A4B6D9B1] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ProductMaterial]    Script Date: 21.04.2026 14:21:55 ******/
ALTER TABLE [dbo].[ProductMaterial] ADD  CONSTRAINT [UQ_ProductMaterial] UNIQUE NONCLUSTERED 
(
	[ProductID] ASC,
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ProductT__737584F6A2C77356]    Script Date: 21.04.2026 14:21:55 ******/
ALTER TABLE [dbo].[ProductType] ADD  CONSTRAINT [UQ__ProductT__737584F6A2C77356] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Role__737584F67C66A3D2]    Script Date: 21.04.2026 14:21:55 ******/
ALTER TABLE [dbo].[Role] ADD  CONSTRAINT [UQ__Role__737584F67C66A3D2] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Unit__737584F6F824E47A]    Script Date: 21.04.2026 14:21:55 ******/
ALTER TABLE [dbo].[Unit] ADD  CONSTRAINT [UQ__Unit__737584F6F824E47A] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__5E55825B59569C56]    Script Date: 21.04.2026 14:21:55 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [UQ__User__5E55825B59569C56] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Workshop__78A1A19DFA43457B]    Script Date: 21.04.2026 14:21:55 ******/
ALTER TABLE [dbo].[Workshop] ADD  CONSTRAINT [UQ__Workshop__78A1A19DFA43457B] UNIQUE NONCLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Material] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Material] ADD  DEFAULT ((0)) FOR [MinStock]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((1)) FOR [WorkersRequired]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_MaterialType] FOREIGN KEY([MaterialTypeID])
REFERENCES [dbo].[MaterialType] ([ID])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_MaterialType]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_Unit] FOREIGN KEY([UnitID])
REFERENCES [dbo].[Unit] ([ID])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_Unit]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductType] FOREIGN KEY([ProductTypeID])
REFERENCES [dbo].[ProductType] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductType]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Workshop] FOREIGN KEY([WorkshopID])
REFERENCES [dbo].[Workshop] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Workshop]
GO
ALTER TABLE [dbo].[ProductMaterial]  WITH CHECK ADD  CONSTRAINT [FK_PM_Material] FOREIGN KEY([MaterialID])
REFERENCES [dbo].[Material] ([ID])
GO
ALTER TABLE [dbo].[ProductMaterial] CHECK CONSTRAINT [FK_PM_Material]
GO
ALTER TABLE [dbo].[ProductMaterial]  WITH CHECK ADD  CONSTRAINT [FK_PM_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[ProductMaterial] CHECK CONSTRAINT [FK_PM_Product]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
