USE [master]
GO
/****** Object:  Database [user23]    Script Date: 07.04.2026 14:42:15 ******/
CREATE DATABASE [user23]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'user23', FILENAME = N'/var/opt/mssql/data/user23.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'user23_log', FILENAME = N'/var/opt/mssql/data/user23_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [user23].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [user23]
GO
/****** Object:  Table [dbo].[Make]    Script Date: 07.04.2026 14:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Make](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[MaterialID] [int] NOT NULL,
	[QuantityMaterial] [int] NOT NULL,
 CONSTRAINT [PK_Make] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 07.04.2026 14:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[MaterialID] [int] NOT NULL,
	[MaterialName] [nvarchar](255) NULL,
	[MaterialTypeID] [int] NOT NULL,
	[QuantityInPac] [int] NULL,
	[QuantityTypeID] [int] NOT NULL,
	[QuantityInHub] [int] NULL,
	[MinQuantity] [int] NULL,
	[Cost] [float] NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialType]    Script Date: 07.04.2026 14:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialType](
	[MaterialTypeID] [int] NOT NULL,
	[MaterialTypeName] [nvarchar](255) NULL,
 CONSTRAINT [PK_MaterialType] PRIMARY KEY CLUSTERED 
(
	[MaterialTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 07.04.2026 14:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](255) NULL,
	[Article] [nvarchar](255) NULL,
	[MinCost] [int] NULL,
	[Image] [nvarchar](255) NULL,
	[ProductTypeID] [int] NOT NULL,
	[HumanResourses] [int] NULL,
	[ProductPlaseId] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductPlace]    Script Date: 07.04.2026 14:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductPlace](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number] [nvarchar](255) NULL,
 CONSTRAINT [PK_ProductPlace] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 07.04.2026 14:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[ProductTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ProductTypeName] [nvarchar](255) NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[ProductTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuantityType]    Script Date: 07.04.2026 14:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuantityType](
	[QuantityTypeID] [int] IDENTITY(1,1) NOT NULL,
	[QuantityTypeName] [nvarchar](255) NULL,
 CONSTRAINT [PK_QuantityType] PRIMARY KEY CLUSTERED 
(
	[QuantityTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 07.04.2026 14:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 07.04.2026 14:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Login] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Make] ON 

INSERT [dbo].[Make] ([Id], [ProductID], [MaterialID], [QuantityMaterial]) VALUES (1, 1, 18, 16)
INSERT [dbo].[Make] ([Id], [ProductID], [MaterialID], [QuantityMaterial]) VALUES (2, 83, 26, 16)
INSERT [dbo].[Make] ([Id], [ProductID], [MaterialID], [QuantityMaterial]) VALUES (3, 27, 18, 13)
GO
SET IDENTITY_INSERT [dbo].[Make] OFF
GO
INSERT [dbo].[Material] ([MaterialID], [MaterialName], [MaterialTypeID], [QuantityInPac], [QuantityTypeID], [QuantityInHub], [MinQuantity], [Cost]) VALUES (1, N'Шипы для льда 3x2', 2, 3, 1, 470, 26, 6511)
INSERT [dbo].[Material] ([MaterialID], [MaterialName], [MaterialTypeID], [QuantityInPac], [QuantityTypeID], [QuantityInHub], [MinQuantity], [Cost]) VALUES (2, N'Резина для льда 0x2', 1, 2, 2, 816, 21, 48785)
INSERT [dbo].[Material] ([MaterialID], [MaterialName], [MaterialTypeID], [QuantityInPac], [QuantityTypeID], [QuantityInHub], [MinQuantity], [Cost]) VALUES (3, N'Шипы для льда 2x2', 2, 1, 1, 479, 22, 13077)
GO
INSERT [dbo].[MaterialType] ([MaterialTypeID], [MaterialTypeName]) VALUES (1, N' Резина')
INSERT [dbo].[MaterialType] ([MaterialTypeID], [MaterialTypeName]) VALUES (2, N' Шипы')
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [ProductName], [Article], [MinCost], [Image], [ProductTypeID], [HumanResourses], [ProductPlaseId]) VALUES (1, N'Колесо R18 Кованый', N'241659', 11509, N'\products\tire_15.jpg', 3, 4, 10)
INSERT [dbo].[Product] ([ProductID], [ProductName], [Article], [MinCost], [Image], [ProductTypeID], [HumanResourses], [ProductPlaseId]) VALUES (2, N'Запаска R15 Кованый', N'327657', 8667, N'\products\tire_64.jpg', 2, 2, 8)
INSERT [dbo].[Product] ([ProductID], [ProductName], [Article], [MinCost], [Image], [ProductTypeID], [HumanResourses], [ProductPlaseId]) VALUES (3, N'Шина R21 Лето', N'266521', 10561, N'\products\tire_6.jpg', 4, 4, 1)
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductPlace] ON 

INSERT [dbo].[ProductPlace] ([Id], [Number]) VALUES (1, N'10')
INSERT [dbo].[ProductPlace] ([Id], [Number]) VALUES (2, N'8')
INSERT [dbo].[ProductPlace] ([Id], [Number]) VALUES (3, N'1')
GO
SET IDENTITY_INSERT [dbo].[ProductPlace] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductType] ON 

INSERT [dbo].[ProductType] ([ProductTypeID], [ProductTypeName]) VALUES (1, N'Диск')
INSERT [dbo].[ProductType] ([ProductTypeID], [ProductTypeName]) VALUES (2, N'Запаска')
INSERT [dbo].[ProductType] ([ProductTypeID], [ProductTypeName]) VALUES (3, N'Колесо')
SET IDENTITY_INSERT [dbo].[ProductType] OFF
GO
SET IDENTITY_INSERT [dbo].[QuantityType] ON 

INSERT [dbo].[QuantityType] ([QuantityTypeID], [QuantityTypeName]) VALUES (1, N'г')
INSERT [dbo].[QuantityType] ([QuantityTypeID], [QuantityTypeName]) VALUES (2, N'кг')
INSERT [dbo].[QuantityType] ([QuantityTypeID], [QuantityTypeName]) VALUES (3, N'м')
SET IDENTITY_INSERT [dbo].[QuantityType] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [RoleName]) VALUES (1, N'Агент')
INSERT [dbo].[Role] ([Id], [RoleName]) VALUES (2, N'Менеджер')
INSERT [dbo].[Role] ([Id], [RoleName]) VALUES (3, N'Администратор')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Name], [Login], [Password], [RoleId]) VALUES (1, N'Иванов Иван Иванович', N'i.ivanov', N'Passw0rd!1', 1)
INSERT [dbo].[User] ([Id], [Name], [Login], [Password], [RoleId]) VALUES (2, N'Петрова Мария Сергеевна', N'm.petrova', N'SecureP@ss2', 2)
INSERT [dbo].[User] ([Id], [Name], [Login], [Password], [RoleId]) VALUES (3, N'Сидоров Алексей Петрович', N'a.sidorov', N'UserPass3', 3)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Make]  WITH CHECK ADD  CONSTRAINT [FK_Make_Material] FOREIGN KEY([MaterialID])
REFERENCES [dbo].[Material] ([MaterialID])
GO
ALTER TABLE [dbo].[Make] CHECK CONSTRAINT [FK_Make_Material]
GO
ALTER TABLE [dbo].[Make]  WITH CHECK ADD  CONSTRAINT [FK_Make_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Make] CHECK CONSTRAINT [FK_Make_Product]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_MaterialType] FOREIGN KEY([MaterialTypeID])
REFERENCES [dbo].[MaterialType] ([MaterialTypeID])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_MaterialType]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_QuantityType] FOREIGN KEY([QuantityTypeID])
REFERENCES [dbo].[QuantityType] ([QuantityTypeID])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_QuantityType]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductPlace] FOREIGN KEY([ProductPlaseId])
REFERENCES [dbo].[ProductPlace] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductPlace]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductType] FOREIGN KEY([ProductTypeID])
REFERENCES [dbo].[ProductType] ([ProductTypeID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductType]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
